<!DOCTYPE HTML>

<html>

<head>
    <title>Edwin Rivera Portfolio</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/css/main.css" />
</head>

<body id="top">

        <section id="banner" data-video="images/banner">
			<div class="inner">
				<header>
					<h1>Edwin Rivera</h1>
					<p>A self-taught passionate developer in Florida <br />
                    Pursuing an opportunity in Full-stack development usually with Node.js</p>
					<a class="button style3" href="/" class="more">Home</a>
                    <a class="button style2" href="/resume" class="more">Resume</a>
				</header>
				<br>
				<a href="#main" class="more"></a>
			</div>
		</section>

    <div id="main">
        <div class="inner">
            <div class="box">
                <div class="inner">
                    <h3>Leave me a message</h3>
                    <p>Dont worry, I wont share any of your contact information with anyone.</p>
                    <form method="POST" action="contact">
                        <input type="text" name="name" placeholder="John Smith">
                        <input type="text" name="company" placeholder="J & R Software Development">
                        <input type="email" name="email" id="" placeholder="jsmith@jrdevgroup.com">
                        <textarea name="message" id="" cols="15" rows="5" placeholder="..."></textarea>
                        <input type="submit" value="Send" class="submitBtn">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <% include partial/footer.ejs %>
   
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
    <script>
        $('.submitBtn').click(function() {
            alert("Thank you for sending your details I will reach out to you as soon as i can.");
        });
    </script>

</body>

</html>