<footer id="footer">
        <div class="inner">
            <h2>I look forward to speaking with you</h2>
            <p>Thank you for taking the time to visit the site. </br>Please click on my Linkedin or Github links to learn more about me</p>
            <ul class="icons">
                <li><a href="https://github.com/Edd5563" class="icon fa-github"><span class="label">Github</span></a></li>
                <li><a href="https://www.linkedin.com/in/edwin-rivera-50ab0142/" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
            </ul>
            <p class="copyright">&copy; Edwin Rivera. </p>
        </div>
    </footer>